body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.jumbotron {
	opacity: .8;
	height: 220px;
	margin-top: -40px;
	margin-bottom: -20px;
	text-align: center;
	padding-bottom: 20px;
}

.row1 {
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
	text-align: center;
	padding: 30px;
}

.row2 {
	background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
	text-align: center;
}

.row3 {
	background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
	text-align: center;
	padding: 20px;
}

